[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
alembic = "*"
psycopg2 = "*"
uvicorn = "*"
python-dotenv = "*"
jwt = "*"
passlib = "*"
python-multipart = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
